In [4]:
# write a function to:
# to add two strings apple and bake and get the len of the result string

In [16]:
def add_length(a,b):
    return len(a+b)


result = add_length("apple", "bake")
print(result)

9

In [ ]:
# take one number and add 100 and divide it by 23 and add 20 and return

In [8]:
def math_function(a):
    return((a+100)/23 + 20)

result = math_function(3)
print(result)

24.47826086956522

In [17]:
# take a string and return the same string excet the last character

In [29]:
def string_last(string):
    return string[:-1]

result = string_last("maggie")
print(result)

maggi

In [ ]:
# take a list of 3 numbers and returns the sum of the numbers

In [60]:
def sum_of_three_numbers(numbers):
    return sum(numbers)

result = sum_of_three_numbers([17,2,3])
print(result)

22

In [ ]:
# takes 2 numbers and add 3 to number 1 and 4 to number 2 and then multuply them and return result

In [38]:
def long_function(a,b):
    x = a + 3 
    y = b + 2 
    return(x * y)

result = long_function(4,6)
print(result)

56

In [ ]:
# take a string in lower case and return the upper case version of it

In [42]:
def upper_case_convert(name):
    return name.upper()

result = upper_case_convert("python")
print(result)

PYTHON

In [ ]:
# take a list of numbers and reverse it

In [61]:
def reverse_numbers(numbers):
    return numbers[::-1]

result = reverse_numbers([1,10,23])
print(result)

[23, 10, 1]

In [56]:
# take 3 numbers and see how close is their sum to 100

In [66]:
def sum_of_3(a,b,c):
    x =  a + b + c
    distance = abs(100 - x)
    return (distance)

result = sum_of_3(13,10,11)
print(result)

66

In [ ]:
# take a string and reverse it #apple - #elpp

In [47]:
def string_reverse(name):
    return name[::-1]
    
result = string_reverse("apple")
print(result)

elppa

In [ ]:
# take 4 numbers and remove 1,2,3,4 respectively from each and then get the sum of remaning numbers

In [49]:
def numbers_remove(a,b,c,d):
    x = a - 1
    y = b - 2 
    z = c - 3
    l = d - 4
    return (x + y + z + l)

result = numbers_remove(12,13,16,22)
print(result)

53

In [37]:
# Take a number and multiply it by 5, subtract 10, then check if result is even

In [1]:
def even_number_check(a):
    x = (a * 5)/10
    if x % 2 == 0: 
         return "even"
    else : 
         return "odd"

result = even_number_check(20)
print(result)

even

In [30]:
# Take a string and return only its first three characters

In [8]:
def first_three_characters(name):
    return name[0:3]

result = first_three_characters("python")
print(result)

pyt

In [ ]:
# Take a list of 4 numbers and return their average

In [13]:
def avg_of_4(numbers):
    return sum(numbers)/len(numbers)

result = avg_of_4([78,2,3])
print(result)

27.666666666666668

In [ ]:
# Take two numbers, double the first one and triple the second one, then add them

In [14]:
def double_triple(a,b):
    x = a * 2 
    y = b * 3 
    return x + y 

result = double_triple(2, 16)
print(result)

52

In [ ]:
# Take a string and add "hello_" to its beginning

In [19]:
def hello_string(you): 
    return "Hello! " + you 

result = hello_string("it is me")
print(result)

Hello! it is me

In [ ]:
# Take a list of numbers and return only the even numbers

In [23]:
def only_even_numbers(int(numbers)): 
    if (int(numbers)) % 2 == 0: 
        return numbers
    else:
        return "not even"
    
result = only_even_numbers([12,3,4])
print(result)

SyntaxError: invalid syntax (1589427709.py, line 1)

In [ ]:
# Take 3 numbers and return the largest one

In [24]:
def largest_numbers(a,b,c): 
    if a > b and c: 
           return a 
    elif b > a and c: 
        return b 
    else: 
        return c 
    
result = largest_numbers(12,45,23)
print(result)

45

In [ ]:
# Take a list of numbers and return sum of first and last number

In [42]:
def sum_first_last(numbers): 
    x = numbers[0]
    y = numbers[-1]
    z = x + y 
    return(z)


result = sum_first_last([10,23,56])
print(result)

66

In [ ]:
# Take two numbers and check if their sum is greater than 100

In [44]:
def check_sum(a,b): 
    x = a + b 
    if x > 100: 
        return "greater than 100"
    else: 
        return "not greater than 100"
    
result = check_sum(12, 32)
print(result)

not greater than 100

In [ ]:
# Take a string and add its length to the end

In [6]:
def length_end(name): 
    return name + str(len(name))

result = length_end("python")
print(result)

python6

In [5]:
a = [1,3,3,22,3 ]
a.count(3)

3

In [8]:
a = str(123)
print(len(a))

3