In [4]:
# write a function to:
# to add two strings apple and bake and get the len of the result string

In [16]:
def add_length(a,b):
    return len(a+b)


result = add_length("apple", "bake")
print(result)

9

In [ ]:
# take one number and add 100 and divide it by 23 and add 20 and return

In [8]:
def math_function(a):
    return((a+100)/23 + 20)

result = math_function(3)
print(result)

24.47826086956522

In [17]:
# take a string and return the same string excet the last character

In [29]:
def string_last(string):
    return string[:-1]

result = string_last("maggie")
print(result)

maggi

In [ ]:
# take a list of 3 numbers and returns the sum of the numbers

In [60]:
def sum_of_three_numbers(numbers):
    return sum(numbers)

result = sum_of_three_numbers([17,2,3])
print(result)

22

In [ ]:
# takes 2 numbers and add 3 to number 1 and 4 to number 2 and then multuply them and return result

In [38]:
def long_function(a,b):
    x = a + 3 
    y = b + 2 
    return(x * y)

result = long_function(4,6)
print(result)

56

In [ ]:
# take a string in lower case and return the upper case version of it

In [42]:
def upper_case_convert(name):
    return name.upper()

result = upper_case_convert("python")
print(result)

PYTHON

In [ ]:
# take a list of numbers and reverse it

In [61]:
def reverse_numbers(numbers):
    return numbers[::-1]

result = reverse_numbers([1,10,23])
print(result)

[23, 10, 1]

In [56]:
# take 3 numbers and see how close is their sum to 100

In [66]:
def sum_of_3(a,b,c):
    x =  a + b + c
    distance = abs(100 - x)
    return (distance)

result = sum_of_3(13,10,11)
print(result)

66

In [ ]:
# take a string and reverse it #apple - #elpp

In [47]:
def string_reverse(name):
    return name[::-1]
    
result = string_reverse("apple")
print(result)

elppa

In [ ]:
# take 4 numbers and remove 1,2,3,4 respectively from each and then get the sum of remaning numbers

In [49]:
def numbers_remove(a,b,c,d):
    x = a - 1
    y = b - 2 
    z = c - 3
    l = d - 4
    return (x + y + z + l)

result = numbers_remove(12,13,16,22)
print(result)

53